@import "tailwindcss";

@layer base {
  * {
    border-color: #222224;
  }
  
  /* Custom Dark Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #0A0A0B;
  }
  ::-webkit-scrollbar-thumb {
    background: #222224;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #2D2D31;
  }
}
